﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="callout.master.cs" Inherits="Contact.callout.callout" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Callout</title>
    <!-- Favicon-->
    <link rel="icon" href="../images/sappi logo.png" type="image/x-icon">

   <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap Core Css -->
    <link href="../plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="../plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="../plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Morris Chart Css-->
    <link href="../plugins/morrisjs/morris.css" rel="stylesheet" />

    <!-- Custom Css -->

    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/custom.css" rel="stylesheet" />

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="../css/themes/all-themes.css" rel="stylesheet" />
</head>
<body class="theme-blue">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="bars">
                <span class="fa fa-bars" style="top: 28px; left: 23px;  position: absolute; color:white"></span>
                </a>
                <a href="javascript:void(0);" class="bars">
                </a>
                <a class="navbar-brand" href="index.aspx">Callout System - <asp:Label ID="lblSelectedOffice" runat="server" Text=""></asp:Label></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="../images/man-icon.png" style="background-color: #f2f2f2; border: 1px solid #f2f2f2; border-radius: 25px" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <asp:Label ID="lblUsername" runat="server" Text=""></asp:Label>
                    </div>
                    <div class="email">
                        <asp:Label ID="lblUserOffice" runat="server" Text=""></asp:Label>
                    </div>
                    <div class="btn-group user-helper-dropdown">
                        <i class="fa fa-chevron-down m-b-15" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="../mill.aspx"><i class="fa fa-building m-r-10"></i>Change office</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="../signout.aspx"><i class="fa fa-sign-out m-r-10"></i>Sign Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">MAIN NAVIGATION</li>
                    <li id="home">
                        <a href="index.aspx">
                            <span><i class="fa fa-home fa-1x m-r-10"></i>Dashboard</span>
                        </a>
                    </li>
                    <li id="lkcreatecallout" runat="server">
                        <a href="create-callout.aspx">
                            <span><i class="fa fa-pencil m-r-10"></i>Create callout</span>
                        </a>
                    </li>
                    <li id="lkcallouts">
                        <a href="javascript:void(0);" class="menu-toggle">
                            <span><i class="fa fa-phone m-r-10"></i>Callouts</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="callouts-active.aspx"><span><i class="fa fa-folder-open-o m-r-10"></i>Active callouts</span></a>
                            </li>
                            <li>
                                <a href="callouts-complete.aspx"><span><i class="fa fa-folder-o m-r-10"></i>Completed callouts</span></a>
                            </li>
                            <li>
                                <a href="callouts-cancelled.aspx"><span><i class="fa fa-trash-o m-r-10"></i>Cancelled callouts</span></a>
                            </li>
                        </ul>
                    </li>
                    <li id="lkapproval" runat="server">
                        <a href="approval-request.aspx">
                            <span><i class="fa fa-pencil-square-o m-r-10"></i>Callout approval</span>
                        </a>
                    </li>
                    <li id="lkreports" runat="server">
                        <a href="reports.aspx">
                            <span><i class="fa fa-file-pdf-o m-r-10"></i>Reports</span>
                        </a>
                    </li>
                   <li id="useraccounts" runat="server">
                        <a href="javascript:void(0);" class="menu-toggle">
                            <span><i class="fa fa-desktop m-r-10"></i>Admin</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="areas.aspx"><span><i class="fa fa-folder-open-o m-r-10"></i>Areas</span></a>
                            </li>
                            <li>
                                <a href="types.aspx"><span><i class="fa fa-folder-o m-r-10"></i>Callout Types</span></a>
                            </li>
                            <li>
                                <a href="users.aspx"><span><i class="fa fa-user-circle m-r-10"></i>System Users</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="version">
                    <b>Version: </b>2.0.1
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <!-- Demo Js -->
            <script src="../js/demo.js"></script>
            <form id="form1" runat="server">
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </form>
        </div>
    </section>

  <!-- Jquery Core Js -->
    <script src="../plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="../plugins/bootstrap/js/bootstrap.js"></script>



    <!-- Slimscroll Plugin Js -->
    <script src="../plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="../plugins/node-waves/waves.js"></script>

    <!-- Jquery CountTo Plugin Js -->
    <script src="../plugins/jquery-countto/jquery.countTo.js"></script>

    <!-- Morris Plugin Js -->
    <script src="../plugins/raphael/raphael.min.js"></script>
    <script src="../plugins/morrisjs/morris.js"></script>

    <!-- ChartJs -->
    <script src="../plugins/chartjs/Chart.bundle.js"></script>

    <!-- Flot Charts Plugin Js -->
    <script src="../plugins/flot-charts/jquery.flot.js"></script>
    <script src="../plugins/flot-charts/jquery.flot.resize.js"></script>
    <script src="../plugins/flot-charts/jquery.flot.pie.js"></script>
    <script src="../plugins/flot-charts/jquery.flot.categories.js"></script>
    <script src="../plugins/flot-charts/jquery.flot.time.js"></script>

    <!-- Sparkline Chart Plugin Js -->
    <script src="../plugins/jquery-sparkline/jquery.sparkline.js"></script>

    <!-- Icons Js-->
    <script src="../js/fontawesome.min.js"></script>

    <!-- Custom Js -->
    <script src="../js/admin.js"></script>
    <script src="../js/pages/index.js"></script>
    <script src="../js/menu.js"></script>



</body>
</html>
