﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="report-pdf.aspx.cs" Inherits="Contact.callout.report_pdf" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Callout Report</title>
    <!-- Favicon-->
    <link rel="icon" href="../favicon.ico" type="image/x-icon" />
</head>
<body>
    <form id="form1" runat="server">
        <div>
        </div>
    </form>
</body>
</html>
