﻿<%@ Page Title="" Language="C#" MasterPageFile="~/index.Master" AutoEventWireup="true" CodeBehind="emergency-search-detailed.aspx.cs" Inherits="Contact.emergency_search_detailed" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="block-header">
        <span>
            <p class="fa fa-home m-r-10"></p>
            Emergency Contacts / Emergency search / Detailed</span>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>Emergency Details</h2>
                    <ul class="header-dropdown m-t--10 m-r-10" id="divOptions" runat="server">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <h4 class="material-icons" style="font-weight:normal; font-size:medium"><p class="fa fa-ellipsis-v m-r-10"></p>Options </h4>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <asp:LinkButton ID="btnViewEdit" runat="server" OnClick="btnViewEdit_Click"><span class="fa fa-edit m-r-10"></span>Edit</asp:LinkButton>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="panel">
                        <div class="cont-holder-plain">
                            <div class="row">
                                <div class="col-md-2 btn-fix-width">
                                    <a href="emergency-contacts.aspx" class="btn btn-default btn-sm btn-block">
                                        <p class="fa fa-reply m-r-10"></p>
                                        Go back</a>
                                </div>
                            </div>
                            <div class="row" id="divEdit" runat="server" visible="false">
                                <div class="col-md-12">
                                    <h3>Editing enabled!</h3>
                                </div>
                                <div class="col-md-2 btn-fix-width">
                                    <asp:LinkButton ID="btnSaveChanges1" CssClass="btn btn-primary btn-block btn-sm" runat="server" OnClick="btnSaveChanges1_Click"><p class="fa fa-save m-r-10"></p>Save changes</asp:LinkButton>
                                </div>
                                <div class="col-md-2 btn-fix-width">
                                    <asp:LinkButton ID="btnViewDelete" CssClass="btn btn-danger btn-block btn-sm" runat="server" OnClick="btnViewDelete_Click" ><p class="fa fa-trash m-r-10"></p>Delete emergency contact</asp:LinkButton>
                                </div>
                                <div class="col-md-2 btn-fix-width">
                                    <asp:LinkButton ID="btnCancel1" CssClass="btn btn-default btn-block btn-sm" runat="server" OnClick="btnCancel1_Click"><p class="fa fa-times m-r-10"></p>Cancel editing</asp:LinkButton>
                                </div>
                            </div>
                            <div class="row" id="divDelete" runat="server" visible="false">
                                    <div class="col-md-12">
                                        <h5 class="text-danger">Delete contractor?</h5>
                                        <p>Are you sure you want to delete this emergency contact?</p>
                                        <asp:LinkButton ID="btnDeleteYes" CssClass="btn btn-danger btn-sm" runat="server" OnClick="btnDeleteYes_Click"><p class="fa fa-check icon-mr"></p>Yes</asp:LinkButton>
                                        <asp:LinkButton ID="btnDeleteNo" CssClass="btn btn-default btn-sm" runat="server" OnClick="btnDeleteNo_Click"><p class="fa fa-times icon-mr"></p>No</asp:LinkButton>
                                    </div>
                             </div>
                        </div>
                        <div class="cont-holder-plain">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5>Personal details</h5>
                                </div>
                                <div class="col-md-4">
                                    <p>Name <span class="text-danger">*</span></p>
                                    <asp:TextBox ID="txtName" Enabled="false" CssClass="form-control input-disabled" runat="server"></asp:TextBox>
                                </div>
                                  <div class="col-md-4">
                                    <p>Ext</p>
                                    <asp:TextBox ID="txtExt" Enabled="false" CssClass="form-control input-disabled" runat="server"></asp:TextBox>
                                </div>
                                <div class="col-md-4">
                                    <p>Phone </p>
                                    <asp:TextBox ID="txtPhone" Enabled="false" CssClass="form-control input-disabled" runat="server"></asp:TextBox>
                                </div>
                              
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <p>Title <span class="text-danger">*</span></p>
                                    <asp:TextBox ID="txtTitle" Enabled="false" CssClass="form-control input-disabled" runat="server"></asp:TextBox>
                                </div>
                             </div>
                             <div class="row" id="divEdit2" runat="server" visible="false">
                                <div class="col-md-2 btn-fix-width">
                                    <asp:LinkButton ID="btnSaveChanges2" CssClass="btn btn-primary btn-block btn-sm" runat="server" OnClick="btnSaveChanges1_Click"><p class="fa fa-save m-r-10"></p>Save changes</asp:LinkButton>
                                </div>
                                <div class="col-md-2 btn-fix-width">
                                    <asp:LinkButton ID="btnCancel2" CssClass="btn btn-default btn-block btn-sm" runat="server" OnClick="btnCancel1_Click"><p class="fa fa-times m-r-10"></p>Cancel editing</asp:LinkButton>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="MessageBox" visible="false" class="MessageBox" runat="server">
        <div id="AlertBox" class="AlertBox"></div>
        <div class="AlertBoxContent">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div id="AlertHeader" runat="server" class="modal-header">
                        <h4 class="modal-title"><span id="spanAlert" runat="server"></span>
                            <asp:Label ID="lblAlertTitle" runat="server" Text="Title"></asp:Label></h4>
                    </div>
                    <div class="modal-body">
                        <asp:Label ID="lblAlertMessage" runat="server" Font-Bold="false" Font-Size="Medium" Text="Message"></asp:Label>
                    </div>
                    <div class="modal-footer">
                        <asp:LinkButton ID="btnCloseMessageBox" CssClass="btn btn-sm btn-primary" runat="server" OnClick="btnCloseMessageBox_Click"><p class="fa fa-times icon-mr"></p>Close</asp:LinkButton>
                    </div>
                </div>
            </div>
        </div>
    </div>
</asp:Content>
